/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.event-titlos {
    color: #333;
    font-size: 20px;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    
}

.event-titlos .icon {
    height: 200px; /* Altura automática */
   
    margin-right: 10px; /* Espaçamento à direita da imagem */
    margin-top: -15px; /* Espaçamento acima da imagem */
    margin-bottom: 5px; /* Espaçamento abaixo da imagem */
}

h1 {
    color: #414040; /* Cor ajustada para um tom mais escuro */
    font-size: 20px; /* Tamanho de fonte aumentado para 24 pixels */
    line-height: 1.4; /* Espaçamento entre linhas ajustado para 1.4 */
    padding: 15px; /* Padding reduzido para 15 pixels */
    border-radius: 5px; /* Bordas arredondadas com raio de 5 pixels */
    margin-top: -20px; /* Espaçamento acima da imagem */
    margin-bottom: 5px; /* Margem inferior ajustada para 20 pixels */
    font-weight: 300; /* Deixa a fonte mais fina */
    
    font-family:'Segoe UI',Verdana, sans-serif
}

/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8e1e7; /* Amarelo claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.event-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.event {
    margin-bottom: 20px;
}

.event-title {
    font-size: 40px;    /* Define o tamanho da fonte como 40 pixels */
    color: #414040;     /* Define a cor do texto como preto (#000000) */
    text-align: center; /* Centraliza o texto */
    font-family: Verdana; /* Define a fonte como Arial, com fallback para fontes sans-serif genéricas */
    margin-bottom: 30px; /* Espaçamento abaixo da imagem */
}

.event-description {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
    
}

.event-details {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    font-family:'Segoe UI',Verdana, sans-serif
    
}

.event-details p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.event-register {
    text-align: center;
}


.event-img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.form-section {
    background: linear-gradient(to right, #eca7be, #d60f51);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    margin-bottom: 20px;
}

.cadastro-title {
    font-size: 24px;
    margin: 0;
    display: flex;
    align-items: center;
}

.bandeirinha-img {
    width: 30px;
    height: auto;
    margin-left: 10px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

form label {
    font-weight: bold;
    color: #c92c2c; /* Vermelho */
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form select {
    width: calc(100% - 24px);
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="number"]:focus,
form select:focus {
    outline: none;
    border-color: #c92c2c; /* Vermelho */
}

form input[type="submit"] {
    background-color: #c92c2c; /* Vermelho */
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #af2525; /* Vermelho mais escuro */
}

.error {
    color: #c92c2c; /* Vermelho */
    font-size: 14px;
}

.hint {
    font-size: 12px;
    color: #666;
}

.confirmation {
    background-color: #daadbc; 
    color: #30220d; 
    border: 1px solid #7e0b31; 
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    display: none; /* Inicialmente oculto */
    text-align: center; /* Centraliza o texto */
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: relative; /* Permite posicionar o balão */
}

.balao {
    position: absolute;
    top: -100px; /* Ajuste conforme necessário para o posicionamento */
    left: 50%;
    transform: translateX(-50%);
    width: 150px; /* Largura do balão */
    height: auto; /* Altura calculada automaticamente */
}

@media (max-width: 600px) {
    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form input[type="number"],
    form select {
        width: 100%;
    }
}